name: SSH Login

on:
  schedule:
    - cron: '0 11 5 * *'  # 每月的 5号 北京时间 19 点运行
  workflow_dispatch:

jobs:
  ssh-login:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install paramiko==3.0.0 cryptography==36.0.2 requests
      
      - name: Run Python script
        env:
          SSH_INFO: ${{ secrets.SSH_INFO }}
          SCKEY: ${{ secrets.SCKEY }}
          
        run: python run.py
